body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url(/static/uploads/toko.jpg);
  color: white;
  min-height: 100vh;
}

h1 {
  color: #ffffff;
  font-weight: 800;
}

.lead {
  color: #cccccc;
}

.btn-primary {
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: bold;
  padding: 10px 24px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #f1f1f1;
  color: #000;
  transform: scale(1.05);
}

img.floating-shoe,
img.img-fluid {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
