body {
  font-family: 'Segoe UI', sans-serif;
  background: url(/static/uploads/secress.jpg);
  color: #333;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #ffffff;
}

.container {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0);
  padding: 30px;
  border-radius: 10px;
}

h2, h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 2px 10px #ffffff;
  border: none;
  border-radius: 10px;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-success {
  background-color: #28a745;
  border: none;
  padding: 10px 25px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #218838;
}

.img-fluid {
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.form-label {
  font-weight: 500;
}

select.form-select,
input.form-control {
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid #ced4da;
}
.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
  box-shadow: 0 6px 20px #ffffff;
}


.auth-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background: #000000f2;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: #ffffff;
}

.auth-container .form-control {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid #ced4da;
}

.auth-container .btn {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  margin-top: 15px;
}

.auth-container p {
  text-align: center;
  margin-top: 15px;
}

.auth-container a {
  color: #0d6efd;
  text-decoration: none;
}
.auth-container a:hover {
  text-decoration: underline;
}

.card-title {
  font-weight: 600;
}

.card-img-top {
  height: 220px;
  object-fit: cover;
}

@media (max-width: 576px) {
  .card-img-top {
    height: 180px;
  }
}
